.blog-nav {
  display: block;
  padding: 10px;
  .left-blog {
    float: left;
    a {
      color: var(--cfg);
      text-decoration: none;
      i {
        margin-right: 18px;
      }
    }
    a:hover {
      cursor: pointer;
      color: var(--clink);
    }
  }
  .right-blog {
    float: right;
    a {
      color: var(--cfg);
      text-decoration: none;
      i {
        margin-left: 18px;
      }
    }
    a:hover {
      cursor: pointer;
      color: var(--clink);
    }
  }
}
/* Post */
.post {
  display: block;
  div.post-head {
    padding-bottom: 5px;
    border-bottom: 0.5px double var(--cfg);
    h5 {
      font-weight: 600;
    }
    small {
      font-style: italic;
      font-weight: 600;
      margin-right: 27px;
    }
  }
  div.post-body {
    display: contents;
    padding: 5px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 18px;
    }
    p {
      text-align: justify;
      text-indent: 36px;
    }
    img {
      width: 100%;
      height: 100px;
      border-radius: 10px;
    }
  }
}

div.card {
  a {
    text-decoration: none;
    color: var(--cfg);
  }
  a:hover {
    cursor: pointer;
    color: var(--clink);
  }
  small {
    font-style: italic;
    font-weight: 600;
    margin-right: 18px;
  }
}

header {
  nav {
    ul {
      li {
        a {
          text-decoration: none;
          color: var(--cfg);
        }
        a:hover {
          cursor: pointer;
          color: var(--clink);
        }
      }
      li[type="button"] {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 18px;
      }
    }
  }
}
footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;
    color: var(--cfg);
    margin-right: 10px;
  }
  a:hover {
    cursor: pointer;
    color: var(--clink);
  }
  small {
    font-weight: 600;
    margin-right: 10px;
  }
}
