.blog-nav {
  display: block;
  padding: 10px;
  font-size: small;
  .left-blog {
    float: left;
    a {
      color: var(--cfg);
      text-decoration: none;
      i {
        margin-right: 18px;
      }
    }
    a:hover {
      cursor: pointer;
      color: var(--clink);
    }
  }
  .right-blog {
    float: right;
    a {
      color: var(--cfg);
      text-decoration: none;
      i {
        margin-left: 18px;
      }
    }
    a:hover {
      cursor: pointer;
      color: var(--clink);
    }
  }
}
/* Post */
.post {
  display: block;
  div.post-head {
    padding: 5px;
    text-align: center;
    border-bottom: 0.5px solid var(--cmed);
    small {
      font-style: italic;
      font-weight: 600;
      margin-right: 27px;
    }
  }
  div.post-body {
    display: contents;
    padding: 5px;
    p {
      text-align: justify;
      text-indent: 36px;
    }
    img {
      width: 100%;
      height: 100px;
      border-radius: 10px;
    }
  }
}

/*  */
.nav-link {
  text-decoration: none;
  color: var(--cfg);
}

.tb {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.badge {
  background-color: var(--cfg);
  color: var(--cbg);
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-size: x-small;
}

.head-small {
  font-style: italic;
  font-weight: 600;
  margin-right: 18px;
}

.post-link {
  text-decoration: none;
  color: var(--cfg);
}
