:root {
  /* color */
  --lc: #f2f2f2;
  --dc: #272525;
  /* link */
  --la: #3349ff;
  --da: goldenrod;
  /* box-shadow */
  --lbs: #abb2b9;
  color-scheme: light dark;
}
html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: light-dark(var(--lc), var(--dc));
  color: light-dark(var(--dc), var(--lc));
  font-weight: 400;
  line-height: 1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 1fr min(45rem, 90%) 1fr;
  margin: 0;
}
main {
  grid-column: 2;
  margin-top: 18px;
}
/*
  |-----------------------------------
  | Start navbar menu
  |
  |https://codepen.io/FlorinCornea/pen/QWwrajK
  |-----------------------------------
  */

.container {
  margin: 0 auto;
  max-width: 1000px;
}
.navigation {
  width: 100%;
  height: 70px;
  padding: 15px 15px;
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3); */
  transition: all 0.8s;
}
.logo {
  color: light-dark(var(--dc), var(--lbs));
  width: 20%;
  float: left;
  line-height: 40px;
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
.navigation-links {
  text-align: right;
  padding: 0;
}
.navigation-links li {
  color: light-dark(var(--dc), var(--lbs));
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: all 0.8s; /* Safari prior 6.1 */
  transition: all 0.8s;
  a {
    text-decoration: none;
    color: light-dark(var(--dc), var(--lc));
  }
}

/* .navigation-links li.active {
  background-color: rgba(83, 173, 203, 0.3);
} */

.navigation-links li:hover {
  background-color: light-dark(var(--la), var(--da));
  color: #fff;
  cursor: pointer;
}
.icon {
  display: none;
  padding: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    max-width: 600px;
  }
  .logo {
    width: 100%;
    padding: 0 20px;
  }

  .navigation-links li {
    display: none;
  }
  .navigation-links a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 20px;
    top: 40px;
  }
  .navigation.responsive .navigation-links a.icon {
    background-color: light-dark(var(--la), var(--da));
    color: #fff;
    cursor: pointer;
  }

  .navigation.responsive {
    position: relative;
    height: 200px;
  }
  .navigation.responsive .navigation-links li {
    float: none;
    display: block;
    text-align: left;
    -webkit-transition: all 0.8s; /* Safari prior 6.1 */
    transition: all 0.8s;
  }
}
/* ================================================================================================================================= */
